 html {
  background: #ccc;
  color: #222;
}

body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.wrapper a,
.wrapper a:visited {
  text-decoration: none;
  color: #222;
}

canvas {
  display: block;
  margin: 1em auto;
}

.exercice-4 {
  background: transparent url('../images/batman-begins.png') center left no-repeat;
}