html {
  background: #ccc;
  color: #222;
}

body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

/* Main content */
.main {
  padding: 10px;
  background: transparent url(../images/dummy.png) 700px center no-repeat;
}

h1 {
  color: #FFFFFF;
  font-size: 38px;
  margin: 1em 0;
}

.track {
  display: inline-block;
  border-bottom: 1px dashed black;
  
  background: transparent url('../images/damier.jpg') top right repeat-y;
  padding-right: 10px;
}

.track h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.pilote,
.progress {
  float: left;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pilote {
  width: 80px;
}

.pilote img {
  display: block;
  margin: 5px auto;
}

.progress {
  width: 870px;
  padding-top: 25px;
}

.progress-bar {
  height: 20px;
  width: 0;
}

#batman-progress      { background: black; }
#tmnt-progress        { background: green; }
#fantomette-progress  { background: yellow; }

/* Footer */
footer {
  color: #EEEEEE;
  font-size: 0.7em;
}

footer a {
  color: #eeeeee;
  text-decoration: underline;
}